<div ng-app="demo" ng-controller="myCtrl">
  <select class="select">
    <option>Results</option>
    <option
      *ngFor="let username of selectedNames"
      routerLink="/profile/{{username}}"
    >
      {{username}}
    </option>
  </select>
  <mat-form-field appearance="fill">
    <mat-label>Searches</mat-label>
    <mat-select>
      <mat-option
        *ngFor="let username of selectedNames"
        routerLink="/profile/{{username}}"
        >{{username}}</mat-option
      >
    </mat-select>
  </mat-form-field>
  <input type="text" id="searchPostBar" />
</div>

<!-- <form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Assignee</mat-label>
    <input
      type="text"
      matInput
      [formControl]="myControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option
        *ngFor="let option of filteredOptions | async"
        [value]="option"
      >
        {{option.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form> -->
