<div class="post-card">

  <mat-card class="fix-card">
    <section class="banner">
      <mat-card-header>
        <img mat-card-avatar src="{{ post.author.profilePic}}" alt="" />
        <div class="username">
          <mat-card-title>{{post.author.username}}</mat-card-title>
        </div>
        <!-- <mat-card-subtitle>{{post.author.email}}</mat-card-subtitle> -->
      </mat-card-header>
    </section>
    <img class="image" mat-card-image *ngIf="post.imageUrl" src="{{ post.imageUrl }}" alt="Post Image" />
    <section class="post-text">
      <mat-card-content>
        <p>
          {{post.text}}
        </p>
        <div *ngFor="let comment of post.comments" class="comment-container">
          <mat-divider></mat-divider>
          <app-comment [comment]="comment"></app-comment>
        </div>
      </mat-card-content>
    </section>
    <mat-card-actions align="end" class="button-card">
      <div *ngIf="emojiBox">
        <div *ngFor="let emoji of emojis" class="emoji-box">
          <button type="button" class="" (click)="submitEmoji(post.id, emoji.emojiId)">
            <img class="emoji-img" src="{{emoji.emojiPic}}">
          </button>
        </div>
    </div>
      <button class="btn" mat-raised-button color="primary" (click)="toggleEmojis()">Like</button>
      <button class="btn" mat-raised-button color="primary" (click)="followUser()">Subscribe</button>
      <button class="btn" mat-raised-button color="primary" (click)="toggleReplyToPost()">Reply</button>
    </mat-card-actions>
   

    <form class="form" *ngIf="replyToPost" [formGroup]="commentForm" (ngSubmit)="submitReply($event)">
      <mat-form-field class="reply" appearance="fill">
        <mat-label>Make a Post</mat-label>
        <textarea matInput autofocus formControlName="text"></textarea>
      </mat-form-field>
      <div align="end" class="reply-card">
        <button class="reply-btn" mat-raised-button color="warn" (click)="toggleReplyToPost()">
          Cancel
        </button>
        <button class="reply-btn" mat-raised-button color="primary" type="submit">Post</button>
      </div>
    </form>
  </mat-card>
</div>
